<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %> 
    <main>
        <h1>Something happened</h1>
        <p>We're working to fix this error, sorry for the inconveninence!</p>
    </main>
<%- include('includes/end.ejs')  %> 
