.form-control{
    margin: 1rem 0;
}
.form-control label,
.form-control input {
    display: block;
    width: 100%;
}
.form-control input {
    border: 1px solid  #002042;
    font: inherit;
    border-radius: 2px;
}