body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
main {
    padding: 1rem;
}
.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #002042;
}
.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}
.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item {
    margin: 0;
    padding: 0;
    margin: 0 1rem;
}
.main-header__item a{
    color: white;
    font-weight: bold;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
    color: yellow;
    font-weight: bold;
}